@import '../components/skillsBox';
@import '../components/skillsDetails';

.skillsContent {
	display: flex;
	flex-direction: column;
    opacity: 0;
    animation: 2s ease 2s both running load;
}

@keyframes load {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 1300px) {
	
}