@import 'skillsProgress';
@import 'skillsRow';

.skillsDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-width : 1300px) {
    .skillsDetails {
        width: 100%;
        padding-top: 55rem;
    }
}

@media screen and (max-width : 500px) {
    .skillsDetails {
        width: 100%;
        padding-top: 72rem;
    }
}