@import 'skillsParaph';
@import 'skillsTitle';

.skillsBox {
    max-width: 45%;
    padding-top: 18rem;
}

@media screen and (max-width : 1540px) { // .......... 1536x864
    .skillsBox {
        padding-top: 14rem;
    }
}

@media screen and (max-width : 1370px) { // .......... 1366x768
    .skillsBox {
        padding-top: 9rem;
    }
}

@media screen and (max-width : 1300px) {
    .skillsBox {
        padding-top: 9rem;
        max-width: 90%;
    }
}