@import 'workItem';

.workWall {
    display: flex;
    justify-content: left;
    position: absolute;
    height: 100vh;
    width : 45%;
    top: 0; right: 0;
    background-color: rgba($color: #363636, $alpha: .2);
}

@media screen and (max-width : 1300px) {
    .workWall {
        height: auto;
        width: 100%;
        top: auto; left: auto;
        margin-top: 30rem;
    }
}

@media screen and (max-width : 800px) {
    .workWall {
        margin-top: 40rem;
    }
}