@import 'workParaph';
@import 'workTitle';

.workBox {
    width: 45%;
    padding-top: 19rem;
}



@media screen and (max-width : 1540px) { // .......... 1536x864
    .workBox {
        padding-top: 13rem;
    }
}

@media screen and (max-width : 1370px) { // .......... 1366x768
    .workBox {
        padding-top: 9rem;
    }
}

@media screen and (max-width : 1300px) {
    .workBox {
        width: 100%;
        padding-top: 9rem;
    }
}