@import 'contactTitle';
@import 'contactParaph';

.contactBox {
    max-width: none;
    margin-bottom: 3rem;
}

@media screen and (max-width : 1370px) { // .......... 1366x768
    .contactBox {
        margin-top: -3rem;
    }
}